<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hotel Notification Management System</a>
    <button class="btn btn-outline-light" (click)="loadNotifications()">
      <i class="bi bi-arrow-clockwise me-2"></i>Load Notifications
    </button>
  </div>
</nav>
<div class="container-fluid mt-4">
  <div class="row mb-4">
    <div class="col-md-6">
      <app-notification-list></app-notification-list>
    </div>
    <div class="col-md-6">
      <app-performance-metrics></app-performance-metrics>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Metrics Table</h5>
          <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
              <thead class="table-dark">
              <tr>
                <th>ID</th>
                <th>Notification Name</th>
                <th>Notification Message</th>
                <th>Date</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>Conversions</th>
                <th>CTR</th>
                <th>CVR</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let metric of metrics">
                <td>{{ metric.id }}</td>
                <td>{{ metric.notification.name }}</td>
                <td>{{ metric.notification.message }}</td>
                <td>{{ metric.date | date:'yyyy-MM-dd' }}</td>
                <td>{{ metric.impressions }}</td>
                <td>{{ metric.clicks }}</td>
                <td>{{ metric.conversions }}</td>
                <td>{{ metric.ctr | percent:'1.4-4' }}</td>
                <td>{{ metric.cvr | percent:'1.4-4' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
